:root {
  --borderColor: #ff6200;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  line-height: 1.5;
  background-color: rgb(248, 247, 246);
}

h3 {
  font-size: 30px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* Navigation Styles */

navBar {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding-top: 12px;
  padding-bottom: 1%;
  border-bottom: 5px solid;
  border-color: var(--borderColor);
}

navBar li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

navBar ul {
  margin-right: 100px;
  margin-bottom: 0px;
}

header {
  padding: 0px 1%;
  color: #000000;
  font-size: 10px;
  font-weight: bold;
  margin-right: auto;
  margin-bottom: 0px;
}

/* Hero Styles */

.hero {
  display: flex;
  position: relative;
  text-align: center;
  color: white;
}

.heroImage {
  flex-grow: 1;
  height: 800px;
  width: 100%;
}

.hero-text {
  flex-grow: 1;
  position: absolute;
  top: 25%;
  left: 3%;
  padding: 10px 10px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #ffbc92; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffbc92;
  }
}

/* Main wrapper */

/* About me styles */

#about-me {
  margin: 10% 9% 10% 5%;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas: "aboutTitle aboutText";
  background-color: white;
  padding: 100px 50px;
}

#aboutTitle {
  margin: 0px 5%;
}

#about-me p {
  margin: 1% 5%;
  font-size: 14px;
}

.aboutImage {
  display: grid;
  float: right;
  margin: 1% 5%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 210px;
  border-bottom: 5px solid;
  border-color: var(--borderColor);
  border-radius: 50px 5px;
}

/* Portfolio Styles */

#portfolioMain {
  margin: 0px 5% 0px 8%;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas: "  workTitle portfolioGrid";
}

/* Portfolio image grid */
#portfolioGrid {
  margin: 0px 5% 0px 0px;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "portfolio1 portfolio1 portfolio1"
    "portfolio2  portfolio2 portfolio3"
    "portfolio4 portfolio5 portfolio5";
}
#portfolio1 {
  grid-area: portfolio1;
  background-image: url("../images/corn1.png");
}
#portfolio2 {
  grid-area: portfolio2;
  background-image: url("../images/02-portfolio-2.jpg");
}

#portfolio3 {
  grid-area: portfolio3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#portfolio4 {
  grid-area: portfolio4;
  background-image: url("../images/02-portfolio-4.jpg");
}

#portfolio5 {
  grid-area: portfolio5;
  background-image: url("../images/02-run-buddy.jpg");
}

.portfolioGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.portfolioHeading {
  padding: 10px;
  height: fit-content;
  width: auto;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-bottom: 5px solid;
  border-color: var(--borderColor);
  background-color: rgba(255, 255, 255, 0.7);
}

#workTitle {
  margin: 0px 5%;
}

/* Contact Styles */
#contactMain {
  margin: 5% 5% 7%;
  padding: 8% 0 5%;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas: "contactTitle contactGrid";
}

#contactGrid {
  margin: 0px 5%;
  display: flex;
  padding-left: 17%;
  padding-right: 35%;
}

.contactGridArea {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  cursor: pointer;
  height: 80px;
  margin: 0px 20px;
  border-radius: 100%;
}

#contactTitle {
  display: grid;
  margin: 0px 5%;
  padding: 10% 0px;
}

#contact1 {
  margin-left: 0px;
}

#contact1,
#contact2,
#contact3,
#contact4 {
  filter: drop-shadow(3px 3px 1px rgb(182, 185, 182));
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 15px;
  background-color: #d0e5e6;
}

@media only-screen and (max width: 1280px);
@media screen {
  max-width: 600px;
}
